{
    "env": "dev",
    "lang": "fr",
    "clientId": "11111111111111111111",
    "botToken": "xxxxxxx",
    "soundDir": "./sounds",
    "creatorId": "111111111111111",
    "defaultMinTime": 600,
    "defaultMaxTime": 3600
}
